@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Barlow", sans-serif;
}
.container{
    width: 100%;
    height: 100vh;
    padding: 5% 3%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("../img/bg.png")center no-repeat;
    background-size: cover;
    /* overflow: hidden; */
}
.container .console-img{
    width: 530px;
    height: 610px;
    position: relative;
}
.text-img img{
    width: 520px;
    height: 620px;
}
.conttroller-img img{
    width: 550px;
    position: absolute;
    top: 15%;
    left: 13%;
    filter: drop-shadow(0 0 10px black);
    z-index: 100;
}
.console-contant{
    width: 800px;
    height: 470px;
    padding: 50px 30px;
    padding-left: 15rem;
    margin-left: -9rem;
    border-radius: 2rem;
    background: url("../img/bg\ 2.png") center no-repeat;
    background-size: cover;
    color: rgb(199, 199, 199);
    z-index: 1;
}
.console-heading h1{
    font-size: 2.6rem;
    font-weight: 600;
}
.console-heading h3{
    font-size: 1.3rem;
    font-weight: 500;
    letter-spacing: 1.4px;
    margin-bottom: 20px;
}
.console-pricing h3{
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 15px;
}
.colors{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    gap: 10px;
}
.colors h3{
    font-size: 1.4rem;
}
.colors-box{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 5px;
}
.colors-circle{
    display: inline-block;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    cursor: pointer;
}
.selected-color{
    border: 2px solid rgba(0, 0, 0, 0.8);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5) !important;
}
.colors-circle:nth-child(1){
    background: red;
    box-shadow: 0 0 5px red;
}
.colors-circle:nth-child(2){
    background: hotpink;
    box-shadow: 0 0 5px hotpink;
}
.colors-circle:nth-child(3){
    background: yellow;
    box-shadow: 0 0 5px yellow;
}
.colors-circle:nth-child(4){
    background: green;
    box-shadow: 0 0 5px green;
}
.console-paragraf p{
    font-weight: 400;
    font-size: 1.1rem;
    margin-bottom: 25px;
}
.console-buttons .add-card{
    padding: 6px 20px;
    font-size: 15px;
    font-weight: 600;
    border-radius: 5px;
    background: red;
    color: white;
    border: none;
    z-index: 1000;
    cursor: pointer;
}
.console-buttons .add-wishlist{
    padding: 6px 20px;
    font-size: 15px;
    font-weight: 600;
    border-radius: 5px;
    background: transparent;
    color: white;
    border: none;
    z-index: 1000;
    cursor: pointer;
}
.console-buttons .add-wishlist i{
    width: 15px;
    margin-right: 5px;
    color: red;
}